<%- include("includes/head"); %> <%- include("includes/nav"); %>

<section class="container align-items-center mt-8">
  <!-- TITLE -->
  <div>
    <p class="text-center text-2xl font-bold text-gray-700 py-6">Olá <%- user.email %> </br> Você está conectado.</p>
  </div>

  <%- include("includes/messages") %>
  
</section>

<%- include("includes/footer"); %>
